@import '../../styles/partials/mixin';
.nextvideo {
    &__nextheader {
        margin-top: 40px;
        padding-left: 16px;
        @include mobile-labels;
        @include tablet {
            @include tablet-subheading;
        }
    }
    &__container {
        display: flex;
    }
    &__wrapper {
        display: flex;
        align-items: center;
        width: 320px;
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 24px;
        box-sizing: border-box;
    }
    &__image {
        width: 120px;
        height: 80px;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
    }
    &__heading {
        text-decoration: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 156px;
        margin-left: 16px;
    }
    &__title {
        @include mobile-subheading;
        margin: 0;
    }
    &__channel {
        @include mobile-paragraph;
        margin: 0;
    }
}