@import '../../styles/partials/mixins';
.video {
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    margin-bottom: 24px;
    &__img {
        width: 7.5rem;
        height: 4.375rem;
        margin-right: 1rem;
    }
    &__text {
        min-width: 9.75rem;
        max-width: 13rem;
        margin-right: 0;
    }
    &__text-title {
        font-family: 'Avenir demi';
        font-size: 0.8rem;
    }
    &__text-author {
        @extend .video__text-title;
        font-family: 'Avenir';
    }
}