@import '../../styles/partials/mixin';
@import '../../styles/partials/variables';
@font-face {
    font-family: 'AvenirNextDemiBold';
    src: url("../../Assets/_Global-Font/AvenirNextProLT/Linotype-AvenirNextLTPro-Demi.otf");
}

.nextvideo {
    display: flex;
    &__container {
        display: flex;
        align-items: center;
        width: 320px;
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 24px;
    }
    &__wrapper {
        display: flex;
    }
    &__image {
        width: 120px;
        height: 80px;
    }
    &__heading {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 156px;
        font-size: 12px;
        line-height: 20px;
        margin-left: 16px;
    }
    &__heading2 {
        // font-size: 16px;
        // line-height: 22px;
        margin: 0;
    }
    &__author {
        // @extend .nextvideo__heading2;
        margin: 0;
    }
}