$black :black;
$silver: #AFAFAF;
$mercury: #E1E1E1;
$alabaster: #FAFAFA;
$instock-blue: #004892;
$instock-blue-dark :#002F5F;
$Brainflix-blue-dark: #0065AD;
$Brainflix-blue-light: #0095FF;
$white :#FFFFFF;