@import '../../styles/partials/mixin';
@import '../../styles/partials/variables';
@font-face {
    font-family: 'AvenirNextDemiBold';
    src: url("../../Assets/_Global-Font/AvenirNextProLT/Linotype-AvenirNextLTPro-Demi.otf");
}

header {
    font-family: 'AvenirNextDemiBold', sans-serif;
}

.header {
    display: flex;
    flex-direction: column;
    width: 320px;
    @include tablet {
        flex-direction: row;
    }
    &__logo {
        display: flex;
        align-items: center;
        padding-top: 10px;
        padding-bottom: 10px;
        height: 28px;
        width: 288px;
    }
    &__formcontainer {
        display: flex;
        flex-wrap: wrap;
        margin-left: 16px;
        margin-right: 16px;
    }
    /* &__searchicon {
        background-image: url(../../Assets/Icons/SVG/Icon-search.svg);
        background-repeat: no-repeat;
    }*/
    &__search {
        background-color: #FAFAFA;
        width: 288px;
        height: 48px;
        padding-left: 20px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }
    &__upload {
        background-image: url('../../Assets/Icons/SVG/Icon-upload.svg');
        width: 224px;
        height: 48px;
        margin-top: 8px;
        background-color: #0095FF;
        color: #FFFFFF;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }
    &__thumbimage {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        margin-left: 16px;
        margin-top: 8px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }
}