@import '../../styles/partials/mixin';
.videodetail__container {
    @include desktop {
        display: flex;
        justify-content: center;
    }
    &__wrap {
        @include desktop {
            width: 712px;
        }
    }
}