@import '../../styles/partials/mixin';
@import '../../styles/partials/fonts';
.header {
    display: flex;
    flex-direction: column;
    height: 10.53rem;
    @include tablet {
        padding-top: 10px;
        flex-direction: row;
        align-items: center;
        height: 88px;
        display: flex;
    }
    // margin-left: 24px;
    // margin-right: 24px;
    // display: flex;
    // flex-direction: row;
    &__wrapper {
        height: 48px;
        display: flex;
        align-self: center;
        padding-top: 5px;
    }
    &__logo {
        height: 33px;
        // display: flex;
        // justify-content: center;
        // align-items: baseline;
        @include tablet {
            margin: 0;
            height: 2rem;
            padding-left: 16px;
            // height: 1.5rem;
            // padding-right: 10.563rem;
        }
    }
    &__formcontainer {
        display: flex;
        flex-wrap: wrap;
        padding-left: 16px;
        padding-right: 16px;
        @include tablet {
            padding-left: 38px;
        }
        @include desktop {
            padding-left: 464px;
        }
    }
    &__search {
        background-image: url('../../Assets/Icons/SVG/Icon-search.svg');
        background-position: 15px;
        font-family: "AvenirNextRegular";
        padding: 0px 15px 0px 40px;
        display: flex;
        align-items: center;
        background-repeat: no-repeat;
        border: 1px solid $mercury;
        width: 288px;
        height: 48px;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
        @include tablet {
            margin-right: 1.5rem;
            padding-right: 3.3rem;
            width: 10rem;
            height: 55px;
        }
    }
    &__iconplus {
        padding-right: 10px;
    }
    &__upload {
        width: 224px;
        height: 48px;
        margin-top: 8px;
        background-color: $Brainflix-blue-light;
        color: $white;
        border: 1px solid $Brainflix-blue-light;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
        margin-bottom: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        @include tablet {
            margin-top: 0;
            height: 60px;
            width: 150px;
            margin-left: 24px;
            @include tablet-paragraph;
        }
    }
    &__thumbimage {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        margin-left: 16px;
        margin-top: 8px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }
}