    @font-face {
        font-family: 'AvenirNextBold';
        src: url("../../Assets/_Global-Font/AvenirNextProLT/Linotype\ -\ AvenirNextLTPro-Bold.otf");
    }
    
    @font-face {
        font-family: 'AvenirNextBoldIt';
        src: url("../../Assets/_Global-Font/AvenirNextProLT/Linotype\ -\ AvenirNextLTPro-BoldIt.otf");
    }
    
    @font-face {
        font-family: 'AvenirNextDemiIT';
        src: url("../../Assets/_Global-Font/AvenirNextProLT/Linotype\ -\ AvenirNextLTPro-DemiIt.otf");
    }
    
    @font-face {
        font-family: 'AvenirHeavyIT';
        src: url("../../Assets/_Global-Font/AvenirNextProLT/Linotype\ -\ AvenirNextLTPro-HeavyIt.otf");
    }
    
    @font-face {
        font-family: 'AvenirNextRegular';
        src: url("../../Assets/_Global-Font/AvenirNextProLT/Linotype-AvenirNextLTPro-Regular.otf");
    }